<div class="container-fluid">
<div ng-repeat="story in cwStories | orderBy:'priority' track by story.code">

    <div ng-repeat="task in story.tasks track by task.code">
        <div class="bs-callout bs-callout-info panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h4>{{task.subject}}</h4>
                    </div>
                    <div class="col-md-4">
                        <img width="60" height="60" class="img-thumbnail pull-right" ng-src="{{'data:image/jpeg;base64,'+ task.profilePicture}}" />
                    </div>
                </div>

                <br>

                <div id="description">
                    <p ng-bind-html="task.description | unsafe"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
