<div class="container-fluid">
    <div ng-repeat="story in cwStories | orderBy:'priority' track by story.code">

        <div ng-repeat="task in story.tasks track by task.code">
            <div class="ticket">

                <div class="panel bs-callout bs-callout-info" ng-class="statusClass(task)">
                    <div class="bs-callout-info">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">{{task.subject}}</h4>
                            </div>
                            <div class="media-right">
                                <a href="#">
                                    <img ng-show="task.profilePicture" width="45em" height="45em"
                                         class="media-object img-thumbnail"
                                         ng-src="{{'data:image/jpeg;base64,'+ task.profilePicture}}">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="container-fluid col-md-10">
                                <div id="description">
                                    <p ng-bind-html="task.description | unsafe"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <small>{{formatTime(task.estimatedTime) | date:'HH:mm'}}</small>

                        <span ng-show="availableToFinalize(task)" ng-click="finalize(task)" class="ticket-control-btn pull-right label label-success">Finalizar</span>

                        <span ng-show="isDontLastStage()" ng-click="goForward(task)" class="ticket-control-btn pull-right label label-success">Avançar</span>

                        <span ng-show="available(task)" ng-click="play(task)" class="ticket-control-btn pull-right label label-info">Iniciar</span>

                        <span ng-show="inUse(task)" ng-click="stop(task)" class="ticket-control-btn pull-right label label-default">Abandonar</span>

                        <span ng-show="isNotFirstStage()" ng-click="goBack(task)" class="ticket-control-btn pull-right label label-danger">Voltar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
