<!DOCTYPE html>
<html ng-app="cw-app">
    <head>
        <title>CW</title>

        <script type="text/javascript" src="../resources/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="../resources/js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="../resources/js/bootstrap/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="../resources/js/angular/angular.min.js"></script>
        <script type="text/javascript" src="../resources/js/angular/ui-bootstrap-tpls-0.14.2.min.js"></script>
        <script type="text/javascript" src="../resources/js/cw/app.js"></script>
        <script type="text/javascript" src="../resources/js/cw/login/login-ctrl.js"></script>
        <script type="text/javascript" src="../resources/js/cw/login/register-ctrl.js"></script>

        <link rel="stylesheet" type="text/css" href="../resources/stylesheets/bootstrap/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/stylesheets/bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/stylesheets/bootstrap/bootstrap-datepicker.min.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/stylesheets/bootstrap/callout.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/stylesheets/cw/login-page.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/stylesheets/cw/styles.css"/>
    </head>
    <body class="container-fluid" >
        <div class="bs-callout bs-callout-info">
            <div class="row text-center">
                <h1><span class="project_name">Collaborative Whiteboard</span></h1>
            </div>
        </div>

        <div class="container margin-top" >
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#login-panel" data-toggle="tab">Login</a>
                </li>
                <li>
                    <a href="#register-panel" data-toggle="tab">Cadastro</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="login-panel">
                    <div id="login_area" ng-controller="login-ctrl" class="panel panel-default">
                        <div class="panel-heading text-center">
                            Seja Bem Vindo!
                        </div>

                        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>

                        <div class="panel-body">
                            <form name="login_form" novalidate ng-submit="login()">
                                <div class="form-group" ng-class="{'has-error': login_form.email_login.$invalid && login_form.email_login.$dirty}">
                                    <div class="input-group">
                                        <input class="form-control" id="email_login" name="email_login" type="email" ng-model="email" placeholder="email@exemplo.com.br" required>

                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                    </div>

                                    <span class="help-block" ng-show="login_form.email_login.$error.required && login_form.email_login.$dirty">Campo obrigatório.</span>
                                    <span class="help-block" ng-show="login_form.email_login.$error.email && login_form.email_login.$dirty">Deve ser um email valido.</span>
                                </div>


                                <div class="form-group" ng-class="{'has-error': login_form.password_login.$invalid && login_form.password_login.$dirty}">
                                    <input class="form-control" id="password_login" name="password_login" type="password" ng-model="password"
                                                                                                                          placeholder="Senha" required />
                                    <span class="help-block" ng-show="login_form.password_login.$error.required && login_form.password_login.$dirty">Campo obrigatório.</span>
                                </div>

                                <button type="submit" ng-disabled="login_form.$invalid" class="btn btn-primary">Login</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="register-panel">
                    <div id="register_area" ng-controller="register-ctrl" class="panel panel-default">
                        <div class="panel-heading text-center">
                            Cadastro
                        </div>
                        <div class="panel-body">
                            <form name="register_form" novalidate ng-submit="register()">
                                <div class="form-group" ng-class="{'has-error': register_form.email_register.$invalid && register_form.email_register.$dirty}">
                                    <div class="input-group">
                                        <input name="email_register" class="form-control" id="email_register" type="email" ng-model="email_register"
                                                                                                                           placeholder="email@exemplo.com.br" required>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                    </div>

                                    <span class="help-block" ng-show="register_form.email_register.$error.required && register_form.email_register.$dirty">Campo obrigatório.</span>
                                    <span class="help-block" ng-show="register_form.email_register.$error.email && register_form.email_register.$dirty">Deve ser um email valido.</span>
                                </div>
                                <div class="form-group" ng-class="{'has-error': register_form.first_name_register.$invalid && register_form.first_name_register.$dirty}">
                                    <input class="form-control" name="first_name_register" id="first_name_register" ng-model="first_name_register"
                                                                                                                    placeholder="Nome" required>

                                    <span class="help-block" ng-show="register_form.first_name_register.$error.required && register_form.first_name_register.$dirty">Campo obrigatório.</span>
                                </div>

                                <div class="form-group" ng-class="{'has-error': register_form.surname_register.$invalid && register_form.surname_register.$dirty}">
                                    <input class="form-control" name="surname_register" id="surname_register" ng-model="surname_register" placeholder="Sobrenomes" required>

                                    <span class="help-block" ng-show="register_form.surname_register.$error.required && register_form.surname_register.$dirty">Campo obrigatório.</span>
                                </div>

                                <div class="form-group" ng-class="{'has-error': register_form.birthdate_date.$invalid && register_form.birthdate_date.$dirty}">
                                    <div class="input-group date" id="birthdate_date">
                                        <input name="birthdate_date" class="form-control" id="birthdate_register" ng-model="birthdate_register" placeholder="Aniversário" required>

                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                    <span class="help-block" ng-show="register_form.birthdate_date.$error.required && register_form.birthdate_date.$dirty">Campo obrigatório.</span>
                                </div>

                                <div class="form-group" ng-class="{'has-error': register_form.password_register.$invalid && register_form.password_register.$dirty}">
                                    <input class="form-control" name="password_register" id="password_register" type="password" ng-model="password_register"
                                                                                                                                placeholder="Senha" required>

                                    <span class="help-block" ng-show="register_form.password_register.$error.required && register_form.password_register.$dirty">Campo obrigatório.</span>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" name="password_confirmation_register" id="password_confirmation_register" type="password" ng-model="password_confirmation"
                                                                                                                                                          placeholder="Confirmação Senha" required>

                                        <span class="help-block" ng-show="register_form.password_confirmation_register.$error.required && register_form.password_confirmation_register.$dirty">Campo obrigatório.</span>
                                        <span class="help-block" ng-show="(password_register != password_confirmation) && (password_confirmation && password_confirmation)">As senhas informadas devem ser iguais.</span>
                                </div>

                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-callout bs-callout-info footer">
            <div class="row text-center">
                <h4>
                    <small>diogo.rosas.ferreira@gmail.com</small>
                </h4>
                <h4>
                    <small>Versão 0.0.1-SNAPSHOT</small>
                </h4>
                <h4>
                    <small>GIT-SHA-1 : 8d7e51f8df78527475c71bdc978da6f099af</small>
                </h4>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            $("#birthdate_date").datepicker();
        });
    </script>
</html>
