.whiteboard{
	overflow: hidden;
}

.stage_header{
	font-size: 20px !important;
	text-align: center;
	background-color: whitesmoke;
	border-bottom: solid 1px #BDBDBD;
}

.stage{
	border-left: 1px solid #C6CFD5;
	display: table-cell;
	overflow: hidden;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	background-color: white;
}

.stage:last-child {
	border-right: 1px solid #C6CFD5;
}
.message{
	white-space: normal !important;
	text-align: center !important;
	color: #5E5E5E !important;
	font-family: 'Helvetica Neue', sans-serif !important;
	font-size: 85px !important;
	font-weight: bold !important;
	letter-spacing: -1px !important;
	line-height: 1 !important;
	min-height: 593px !important;
}

.message span{
	font-family: 'Raleway',sans-serif;
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
	text-transform: uppercase;
	color: #675c5c;
	top: 240px;
	position: relative;
}

.stopwatch{
	width: 25px;
	float: left;
	padding: 0px;
	position: relative;
}

.ticket{
	width: 350px;
	height: 100px;
	margin-top: 5%;
	background-size: 350px 100px;
	box-shadow: 3px 3px 5px 2px #ccc;
	background: rgba(255, 255, 173, 0.97);
	float: left;
}

.task_estimated{
	top: -50px;
	position: relative;
	text-align: left;
	border-top: 1px solid #318ce7;
	width: 350px;
	height: 24px;
}

.task_estimated span{
    font-size: 12px;
        color: #797979;
}

.task_code{
	left: 35px;
	position: relative;
	width: 315px;
	text-align: center;
	border-bottom: 1px solid #318ce7;
	top: 8px;
	text-align: center;
}


.task_subject{
	top: -45px;
	width: 345px;
	height: 45px;
	left: 2px;
	position: relative;
	text-align: center;
}

.task_subject p{
	word-break: break-all;
	white-space: normal;
	position: relative;
	max-width: 310px;
	max-height: 48px;
	color: #685206;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	line-height: 10px;
	text-align: center;
}


.user{
	background-image: url(../images/icons/photo.jpg);
	border: none !important;
}

.finalized_task{
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}


.task_subject span{
	display: table-cell;
	vertical-align: middle;
}

.center_arrow{
	position: absolute;
	height: 46px;
	transform: rotate(90deg);
	top: 380px;
	z-index: 5;
}

.task_command{
	width: 22px;
	float: left;
	padding: 0px;
	margin-left: 5px;
	position: relative;
	cursor: pointer;
}

.task_commands_area{
	top: -72px;
	position: relative;
	float: right;
}

.whiteboard_update{
	top: 20px;
}


.whiteboard_header_area{
	margin-top:1%;
}

/*--------------  Refatoração  ---------------- */
.ticket_status{
	/*border-bottom: solid 1px #95C7FB;*/
	/*border-top: solid 1px #95C7FB;*/
}

.ticket_status_AVAILABLE{
	border-left: solid 10px #97ffff;
	border-bottom: solid 1px #97ffff;
	border-top: solid 1px #97ffff;
}
.ticket_status_BUSY{
	border-left: solid 10px #fbae34;
	border-bottom: solid 1px #fbae34;
	border-top: solid 1px #fbae34;
}
.ticket_status_FINALIZED{
	border-left: solid 10px #D0D0D0;
	border-bottom: solid 1px #D0D0D0;
	border-top: solid 1px #D0D0D0;
}
.ticket_status_REMOVED{
	border-left: solid 10px #e0eee0;
	border-bottom: solid 1px #e0eee0;
	border-top: solid 1px #e0eee0;
}
.ticket_status_FROZEN{
	border-left: solid 10px #3399ff;
	border-bottom: solid 1px #3399ff;
	border-top: solid 1px #3399ff;
}

.task_ticket{
	padding: 5px;
	margin-top: 10px;
	float: left;
	width: 100%;
	position: relative;
	background-color: #DCEBFB;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.image_user{
	float:right;
}

.image_user img{
	height: auto;
	width: auto;
	max-width: 40px;
	max-height: 40px;
}

.ticket_code{
	float: left;
}

.ticket_code span{
	font-size: 12px;
	color: #797979;
}

.ticket_subject{

}

.ticket_subject{
	margin-top: 10%;
}

.ticket_subject p{
	word-break: break-all;
	white-space: normal;
	color: #685206;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	line-height: 10px;
	text-align: center;
}

.ticket_estimated{
	float: left;
	color: #797979;
}

.ticket_estimated span{
	font-size: 12px;
	    color: #797979;
}


.ticket_commands_area{
	float: right;
}

.ticket_commands_area img{
}

.ticket_user{
	width: 45px;
	height: 45px;
	top: -33px;
	left: -5px;
	position: relative;
}
