
.color_WAITING {
	border-left-color: rgb(155, 155, 155) !important;
}

.color_REMOVED {
	border-left-color: rgb(200, 200, 200) !important;
}

.color_AVAILABLE {
	border-left-color: rgb(173, 198, 237) !important;
}

.color_ANALYZED {
	border-left-color: rgb(0, 166, 0) !important;
}

.color_IN_ANALYSIS {
	border-left-color: rgb(0, 166, 0) !important;
}

.color_FINALIZED {
  	border-left-color: #ADADAD !important;
}

.color_BUSY{
	border-left-color: rgb(203, 151, 68) !important;
}

.color_FROZEN{
	border-left-color: rgb(80, 115, 253) !important;
}

.project_name{
	font-size: 45px;
	color: #E4C100;
}

.panel-stage{
    border: 0px;
}

.beta_name{
    margin-left: 5px;
}

.click-hand:hover{
    cursor: pointer;
}

.font-info{
    color: #5bc0de !important;
}

.font-attention{
    color : rgb(203, 151, 68) !important;
}

.disabled{
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.4;
    pointer-events: none;
}
