<!DOCTYPE html>
<html ng-app="cw-app">
<head>
    <title>CW</title>
    <meta charset="UTF-8"/>
    <base href="/cw-rest/">

    <link rel="import" href="app/resources/lib/jquery/include.html"/>
    <link rel="import" href="app/resources/lib/angular/include.html"/>
    <link rel="import" href="app/resources/lib/bootstrap/include.html"/>

    <link rel="import" href="app/pages/login/include.html"/>
    <link rel="stylesheet" type="text/css" href="app/resources/stylesheets/cw/styles.css"/>
</head>
<body class="container-fluid">
<div class="bs-callout bs-callout-info">
    <div class="row text-center">
        <h1>
            <span class="project_name">Collaborative Whiteboard</span>
            <small class="beta_name">Beta</small>
        </h1>
    </div>
</div>

<div ng-controller="MessagesCtrl" class="container">
    <div class="row text-center">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>
    </div>
</div>

<div class="container margin-top">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#login-panel" data-toggle="tab">Login</a>
        </li>
        <li>
            <a href="#register-panel" data-toggle="tab">Cadastro</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="login-panel">
            <div id="login_area" ng-controller="LoginCtrl" class="panel panel-default">
                <div class="panel-heading text-center">
                    Seja Bem Vindo!
                </div>

                <div class="panel-body">
                    <form name="login_form" novalidate ng-submit="login()">
                        <div class="form-group"
                             ng-class="{'has-error': login_form.email_login.$invalid && login_form.email_login.$dirty}">
                            <div class="input-group">
                                <input class="form-control" id="email_login" name="email_login" type="email"
                                       ng-model="email" placeholder="email@exemplo.com.br" required>

                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                            </div>

                            <span class="help-block"
                                  ng-show="login_form.email_login.$error.required && login_form.email_login.$dirty">Campo obrigatório.</span>
                            <span class="help-block"
                                  ng-show="login_form.email_login.$error.email && login_form.email_login.$dirty">Deve ser um email valido.</span>
                        </div>


                        <div class="form-group"
                             ng-class="{'has-error': login_form.password_login.$invalid && login_form.password_login.$dirty}">
                            <input class="form-control" id="password_login" name="password_login" type="password"
                                   ng-model="password"
                                   placeholder="Senha" required/>
                            <span class="help-block"
                                  ng-show="login_form.password_login.$error.required && login_form.password_login.$dirty">Campo obrigatório.</span>
                        </div>

                        <button type="submit" ng-disabled="login_form.$invalid" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="register-panel">
            <div id="register_area" ng-controller="RegisterCtrl" class="panel panel-default">
                <div class="panel-heading text-center">
                    Cadastro
                </div>
                <div class="panel-body">
                    <form name="register_form" novalidate ng-submit="register()">
                        <div class="form-group"
                             ng-class="{'has-error': register_form.emailRegister.$invalid && register_form.emailRegister.$dirty}">
                            <div class="input-group">
                                <input name="emailRegister" class="form-control" id="emailRegister" type="email"
                                       ng-model="user.emailRegister" placeholder="email@exemplo.com.br"
                                       ng-blur="validateEmail()" required>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                            </div>

                            <span class="help-block"
                                  ng-show="register_form.emailRegister.$error.required && register_form.emailRegister.$dirty">Campo obrigatório.</span>
                            <span class="help-block"
                                  ng-show="register_form.emailRegister.$error.email && register_form.emailRegister.$dirty">Deve ser um email valido.</span>
                            <span class="help-block" ng-show="register_form.emailRegister.$error.emailInUse">Email em uso.</span>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': register_form.firstNameRegister.$invalid && register_form.firstNameRegister.$dirty}">
                            <input class="form-control" name="firstNameRegister" id="firstNameRegister"
                                   ng-model="user.firstNameRegister"
                                   placeholder="Nome" required>

                            <span class="help-block"
                                  ng-show="register_form.firstNameRegister.$error.required && register_form.firstNameRegister.$dirty">Campo obrigatório.</span>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error': register_form.surnameRegister.$invalid && register_form.surnameRegister.$dirty}">
                            <input class="form-control" name="surnameRegister" id="surnameRegister"
                                   ng-model="user.surnameRegister" placeholder="Sobrenomes" required>

                            <span class="help-block"
                                  ng-show="register_form.surnameRegister.$error.required && register_form.surnameRegister.$dirty">Campo obrigatório.</span>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error': register_form.birthdayRegister.$invalid && register_form.birthdayRegister.$dirty}">
                            <div class="input-group date" id="birthdayRegister">
                                <input name="birthdayRegister" class="form-control" ng-model="user.birthdayRegister"
                                       placeholder="Aniversário" required>

                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>

                            </div>

                            <span class="help-block"
                                  ng-show="register_form.birthdayRegister.$error.required && register_form.birthdayRegister.$dirty">Campo obrigatório.</span>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error': register_form.passwordRegister.$invalid && register_form.passwordRegister.$dirty}">
                            <input class="form-control" ng-blur="matchPassword()" name="passwordRegister"
                                   id="passwordRegister" type="password" ng-model="user.passwordRegister"
                                   placeholder="Senha" required>

                            <span class="help-block"
                                  ng-show="register_form.passwordRegister.$error.required && register_form.passwordRegister.$dirty">Campo obrigatório.</span>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error': register_form.passwordConfirmationRegister.$dirty && (register_form.passwordConfirmationRegister.$error.required || register_form.passwordConfirmationRegister.$error.passwordMatch)}">
                            <input class="form-control" ng-blur="matchPassword()" name="passwordConfirmationRegister"
                                   id="passwordConfirmationRegister" type="password"
                                   ng-model="user.passwordConfirmationRegister" placeholder="Confirmação Senha"
                                   required>

                            <span class="help-block"
                                  ng-show="register_form.passwordConfirmationRegister.$error.required && register_form.passwordConfirmationRegister.$dirty">Campo obrigatório.</span>
                            <span class="help-block"
                                  ng-show="register_form.passwordConfirmationRegister.$error.passwordMatch">As senhas informadas devem ser iguais.</span>
                        </div>
                        <button type="submit" ng-disabled="register_form.$invalid" class="btn btn-primary">Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $("#birthdayRegister").datepicker({
            endDate: '-1d',
            format: 'dd/mm/yyyy'
        });
    });
</script>
</html>
